    <footer>
        <div class="row m-0">
            <nav class="col-md-8 offset-md-2 mt-5 pt-5">
                <div class="col-md-12 row">
                    <section class="col-md-2">
                        <img src="images/logo.svg"
                            class="img-fluid pb-2" alt="">
                        <p class="p-2">We create possibilities for the connected world. Be Bold.</p>
                    </section>
                    <section class="col-md-2 mb-5">
                        <h4>Navigations</h4>
                        <a href="">Accueil</a>
                        <a href="">Produits</a>
                        <a href="">Mon compte</a>
                    </section>
                    <section class="col-md-2 mb-5">
                        <div class="mb-4">
                            <h4>Adresse</h4>
                            <p>44 rue Jules Lallemenand<br>35000 Rennes</p>
                        </div>
                        <div>
                            <h4>Contacts</h4>
                            <a href="mailto : mohamed.benallal.pro@gmail.com"
                                style="text-transform: none">mohamed.benallal.pro@gmail.com</a>
                            <p>06.10.58.00.00</p>
                        </div>
                    </section>
                    <section class="col-md-2 mb-5">
                        <h4>Suivez-nous</h4>
                        <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i>
                            Facebook</a>
                        <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i>
                            Twiter</a>
                        <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i>
                            Youtube</a>
                    </section>
                    <section class="col-md-2 mb-5">
                        <h4>Informations légales</h4>
                        <a href="">C.G.U.</a>
                        <a href="">Politique de confidentialité</a>
                    </section>
                    <section class="col-md-2 text-right">
                        <a href="#" class="link-portfolio hvr-sweep-to-top">Mon portfolio</a>
                    </section>
                </div>
                <p class="copyright my-5">© 2020 MBA. Tous droits réservés.</p>
            </nav>

            <div class="col-md-1 offset-md-1 anchor-top d-flex justify-content-center">
                <a href="#body" class="">
                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </footer>