@import url('./bootstrap.min.css');
@import url('./hover-min.css');

// Couleurs

$red : #EE727A;
$green : #C4E791;
$yellow : #FECA72;
$blue : #84ACFC;
$purple : #C694E8;
$light-blue : #8CDDFD;
$bg : #3A3F54;
$bg-light : #434961;
$bg-dark : #2A2D3C;
$bg-grey: #343a40;

body {
    background-color: #2A2D3C;
    font-family: 'Nova Mono', monospace;
    color: white;
}

// NAVIGATION-BAR
.navigation-bar {
    background-color: $bg-grey;
    border-bottom: 1px solid black;

    .nav-link-home:before {
        background-color: $red;
    }

    .nav-link-timeline:before {
        background-color: $green;
    }
#basic-addon1{
    border-color: black;
    background-color: $bg-light;
    color: white;
}
#basic-addon1:hover{

    color: $yellow;
}
    .form-control {
        background-color: $bg-dark;
        color: white;
        border-color: black !important;
        box-shadow: inset 1.25px 1.25px 2.5px 2.5px rgba(0, 0, 0, 0.5);

    }


    .nav-item {
        .nav-link-home:hover, .nav-link-timeline:hover{
            color: $yellow !important;
        }
        .nav-link {
            color: white !important;
            text-shadow: 3px 3px 2px black;
        }
    }

    .nav-liens:hover {
        color: #343a40 !important;
        font-weight: bold;
        text-shadow: none;
    }

    .nav-link-compte:hover {
        color: $yellow !important;
    }
    .dropdown-menu {
        border: 0.1px solid black;
        background-color: $bg-light;
        .dropdown-divider{
            border-color: black !important;
        }
    }
}

// REGISTER FORM
.register-form {

    #registration_form_email,
    #registration_form_plainPassword {
        background-clip: padding-box;
        background-color: #fff;
        border: 1px solid #80bdff;
        border-radius: .25rem;
        box-shadow: rgba(0, 123, 255, .25) 0 0 0 .2rem;
        box-sizing: border-box;
        color: #495057;
        cursor: text;
        display: block;
        font-size: 1rem;
        font-weight: 400;
        height: calc(1.5em + .75rem + 2px);
        line-height: 1.5;
        margin: 0;
        outline: 0;
        overflow: visible;
        padding: .375rem .75rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        width: 100%;
    }
}

// FOOTER

footer {
    border-top: 1px solid black;

    div {
        background-color: $bg-grey;

        section {
            font-size: 0.75rem;

            .link-portfolio {
                font-size: 1rem;
                font-weight: bold;
                border-bottom: 1px solid $yellow;
                padding: 0 0.5rem;
                text-shadow: 3px 3px 2px black;
            }

            .hvr-sweep-to-top::before {
                background: $yellow;
            }

            .rs-logo {
                font-size: 1.15rem;
            }

            h4 {
                color: white;
                text-transform: capitalize;
                font-weight: bold;
                font-size: 0.75rem;
                padding-bottom: 0.25rem;
            }

            p {
                color: white;
            }

            a {
                text-decoration: none !important;
                text-transform: capitalize;
                color: lightgrey;
                display: block;
            }

            a:hover {
                color: $yellow;
            }
        }

        .anchor-top {
            background-color: $yellow;
            position: relative;
            display: none;
            border-right: 1px solid black;

            a {
                display: inline-block;
                position: absolute;
                bottom: 40%;

                i {
                    font-size: 2.5em;
                    color: white;
                    font-weight: lighter;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: black;
                }

                i:hover {
                    color: $bg-light;
                    cursor: pointer;
                    -webkit-text-stroke-color: black;
                }
            }
        }

        .copyright {
            color: white;
            font-size: 0.75rem;
            padding: 0.5rem;
        }
    }
}

// HOMEPAGE

//CAROUSEL
.carousel-new {
    .cards-new {
        border: 2px solid black;
        background-color: $bg-grey !important;

        img {
            border-bottom: 2px solid black;
        }

        a {
            background-color: $blue;
            text-shadow: 3px 3px 2px black;
            box-shadow: 1.25px 1.25px 2.5px 2.5px rgba(0, 0, 0, 0.5);
            border-color: black;

        }

        a:hover {
            box-shadow: inset 1.25px 1.25px 2.5px 2.5px rgba(0, 0, 0, 0.5);
            font-size: 0.99rem;
            margin: 0.02rem;

        }

        .cards-new-category {
            border-top: 2px solid black;

            p {
                display: block;
                height: 100%;
                font-size: 0.75rem;
                padding: 0.25rem;
                text-shadow: 2px 2px 1px black;


            }

            p:nth-child(1) {
                background-color: $red;
                border-bottom-left-radius: 0.25rem;
            }

            p:nth-child(2) {
                background-color: $green;
                border-left: 2px solid black;
                border-right: 2px solid black;
            }

            p:nth-child(3) {
                background-color: $blue;
                border-bottom-right-radius: 0.25rem;
            }
        }
    }

    .carousel-indicators-bottom {
        position: initial !important;
    }
}


// INDEX TIMELINE
.timeline-index {
    color: white;

    .timeline-card {
        background-color: $bg-light;
        border: none;

        img {
            border-top-left-radius: 0.25rem;
            border: 2px solid black;
        }

        .card-content {
            text-decoration: none;
            color: white;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
        }
    }

    .categories {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-items: space-around;
        list-style: none;

        a {
            text-decoration: none;
            height: 60.77px;
            padding: 1rem 0;
            font-weight: bold;
            text-shadow: 3px 3px 2px black;
            border: 2px solid black;
        }

        .categories-theme {
            background-color: $red;
            color: white;
            border-top-right-radius: 0.25rem;
        }

        .categories-theme::before {
            border-color: transparent $red transparent transparent;
        }

        .categories-event {
            border-top: none;
            background-color: $green;
            color: white;
        }

        .categories-event::before {
            border-color: transparent $green transparent transparent;
        }

        .categories-siecle {
            border-top: none;
            background-color: $blue;
            color: white;
            border-bottom-right-radius: 0.25rem;
        }

        .categories-siecle::before {
            border-color: transparent $blue transparent transparent;
        }
    }

    .card-bottom {
        .notation {
            background-color: $bg-light;
            border: 2px solid black;
            border-top: none;
            display: flex;
            align-items: center;
            border-bottom-left-radius: 0.25rem;

            .stars {
                i {
                    color: $yellow;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: black;
                    font-size: 1.5rem;
                    letter-spacing: 0.1rem;
                    text-shadow: 3px 3px 2px black;
                }
            }
        }

        .timeline-link {
            background-color: $purple;
            padding: 1.5rem;
            border: 2px solid black;
            border-left: none;
            border-top: none;
            border-bottom-right-radius: 0.25rem;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            text-shadow: 3px 3px 2px black;
        }
    }
}


// NEW TIMELINE

.timeline-new {
    .timeline-new-dates {
        background-color: #ee727a;
    }

    .timeline-new-content {
        background-color: #c4e791;
    }

    .timeline-new-media {
        background-color: #c694e8;
    }

    .timeline-new-style {
        background-color: #84acfc;
    }
}