{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="col-md-8 mx-auto">
    <div class="carousel-new my-5">
        <h1 class="h3 mb-3 font-weight-normal text-center">Nouveauté</h1>
        <div id="carouselNewIndicators" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row d-flex justify-content-center">
                        <div class="card d-block cards-new" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="col-md-12 row cards-new-category m-0 p-0 text-center w-100">
                                <p class="col-md-4 m-0">Histoire</p>
                                <p class="col-md-4 m-0">Guerre</p>
                                <p class="col-md-4 m-0">XIX siècle</p>
                            </div>
                        </div>
                        <div class="card d-block cards-new mx-5" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="col-md-12 row cards-new-category m-0 p-0 text-center w-100">
                                <p class="col-md-4 m-0">Histoire</p>
                                <p class="col-md-4 m-0">Guerre</p>
                                <p class="col-md-4 m-0">XIX siècle</p>
                            </div>
                        </div>
                                                <div class="card d-block cards-new" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="col-md-12 row cards-new-category m-0 p-0 text-center w-100">
                                <p class="col-md-4 m-0">Histoire</p>
                                <p class="col-md-4 m-0">Guerre</p>
                                <p class="col-md-4 m-0">XIX siècle</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row d-flex justify-content-center">
                        <div class="card d-block cards-new" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="col-md-12 row cards-new-category m-0 p-0 text-center w-100">
                                <p class="col-md-4 m-0">Histoire</p>
                                <p class="col-md-4 m-0">Guerre</p>
                                <p class="col-md-4 m-0">XIX siècle</p>
                            </div>
                        </div>
                        <div class="card d-block cards-new mx-5" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="col-md-12 row cards-new-category m-0 p-0 text-center w-100">
                                <p class="col-md-4 m-0">Histoire</p>
                                <p class="col-md-4 m-0">Guerre</p>
                                <p class="col-md-4 m-0">XIX siècle</p>
                            </div>
                        </div>
                                                <div class="card d-block cards-new" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="col-md-12 row cards-new-category m-0 p-0 text-center w-100">
                                <p class="col-md-4 m-0">Histoire</p>
                                <p class="col-md-4 m-0">Guerre</p>
                                <p class="col-md-4 m-0">XIX siècle</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row d-flex justify-content-center">
                        <div class="card d-block cards-new" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="col-md-12 row cards-new-category m-0 p-0 text-center w-100">
                                <p class="col-md-4 m-0">Histoire</p>
                                <p class="col-md-4 m-0">Guerre</p>
                                <p class="col-md-4 m-0">XIX siècle</p>
                            </div>
                        </div>
                        <div class="card d-block cards-new mx-5" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="col-md-12 row cards-new-category m-0 p-0 text-center w-100">
                                <p class="col-md-4 m-0">Histoire</p>
                                <p class="col-md-4 m-0">Guerre</p>
                                <p class="col-md-4 m-0">XIX siècle</p>
                            </div>
                        </div>
                                                <div class="card d-block cards-new" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="col-md-12 row cards-new-category m-0 p-0 text-center w-100">
                                <p class="col-md-4 m-0">Histoire</p>
                                <p class="col-md-4 m-0">Guerre</p>
                                <p class="col-md-4 m-0">XIX siècle</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselNewIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselNewIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <ol class="carousel-indicators carousel-indicators-bottom mt-2">
                <li data-target="#carouselNewIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselNewIndicators" data-slide-to="1"></li>
                <li data-target="#carouselNewIndicators" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
    <div class="carousel-new my-5 pt-5">
        <h1 class="h3 mb-3 font-weight-normal text-center">Les Mieux Notés</h1>
        <div id="carouselBestIndicators" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row d-flex justify-content-center">
                        <div class="card d-block cards-new" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card d-block cards-new mx-5" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card d-block cards-new" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row d-flex justify-content-center">
                        <div class="card d-block cards-new" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card d-block cards-new mx-5" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card d-block cards-new" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row d-flex justify-content-center">
                        <div class="card d-block cards-new" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card d-block cards-new mx-5" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card d-block cards-new" style="width: 18rem;">
                            <img src="images/ww1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselBestIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselBestIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <ol class="carousel-indicators carousel-indicators-bottom mt-2">
                <li data-target="#carouselBestIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselBestIndicators" data-slide-to="1"></li>
                <li data-target="#carouselBestIndicators" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}